* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.header {
	font-size: 1.5rem;
	height: 4rem;
	margin: 0;
    padding: 0;
	border: none;
    display: flex;
    align-items: center;
	background-color: white;
}

.header ul {
    display: flex; 
    align-items: center;
    justify-content:space-between;
    flex: 1;
}

ul li {
    flex: 1;
}

.header .language_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    font-size: 1.3rem;
}

ul {
    text-decoration: none;
}

#languageSelector {
    border: none;
    background-color: transparent;
}

.municipality_container {
    display: flex;
    justify-content: center;
}

#municipality_logo {
    max-width: 10%;
    max-height: 10%
}

a:hover {
    color: black;

}

a {
    color: black !important;
	font-size: 2rem;
}
