/**************** CSS RESET ***********************/
.cfu-avis * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Source Sans Pro", sans-serif;
    vertical-align: baseline;
}

/**************** CSS RESET ***********************/

.cfu-avisos {
	text-decoration: none;
    display: block;
    clear: both;
}
.cfu-avisos:hover {
	text-decoration: none;
}

/******************* GRID IF NO BOOTSTRAP *******************/
.cfu-avisos .cfu-avisos-grid {
    width: 1080px;
    margin: 0 auto;
    height: auto;
    position: relative;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .cfu-avisos .cfu-avisos-grid {
        width: 906px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cfu-avisos .cfu-avisos-grid {
        width: 90.1%;
    }
}

@media screen and (max-width: 767px) {
    .cfu-avisos .cfu-avisos-grid {
        width: 93.75%;
    }
}
/******************* GRID IF NO BOOTSTRAP *******************/


#cfu-avisos-mesura {
	visibility: hidden;
	display: none;
}

.cfu-avisos p {
	font-size: 18px;
	line-height: 20px;
}

.cfu-avisos sub {
    bottom: 0;
    font-size: 60%;
}

.cfu-avisos .cfu-avisos-titol {
	background-color: white;
}

.cfu-avisos.negatiu  {
	background-color: #4869ad;
}

.cfu-avisos.negatiu .cfu-avisos-titol {
	background-color: #4869ad;
}

.cfu-avisos.negatiu .cfu-avisos-titol p,
.cfu-avisos.negatiu .cfu-avisos-text p,
.cfu-avisos.negatiu .cfu-icon-dreta-bold {
	color: white;
}

.cfu-avisos .cfu-avisos-text p,
.cfu-avisos .cfu-icon-dreta-bold {
	color: black;
}

.cfu-avisos .cfu-avisos-titol p {
	color: #e62037;
}

#cfu-avisos .cfu-avisos .cfu-avisos-text p::first-letter {
	font-size: 18px;
	line-height: 55px;
	height: auto;
	float: none;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 767px) {
	#cfu-avisos .cfu-avisos .cfu-avisos-text p::first-letter {
		font-size: 14px;
		line-height: 16px;
	}
}
/* PARTIAL SLIDE */
@-moz-keyframes partial {
	0% {
		-moz-transform: translate(0);
	}
	100% {
		-moz-transform: translate(-100%);
	}
}

@-webkit-keyframes partial {
	0% {
		-webkit-transform: translate(0);
	}
	100% {
		-webkit-transform: translate(-100%);
	}
}

@keyframes partial {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-100%);
	}
}

/* FULL SLIDE */
@-moz-keyframes slide {
	0% {
		-moz-transform: translate(100%);
	}
	100% {
		-moz-transform: translate(-100%);
	}
}

@-webkit-keyframes slide {
	0% {
		-webkit-transform: translate(100%);
	}
	100% {
		-webkit-transform: translate(-100%);
	}
}

@keyframes slide {
	0% {
		transform: translate(100%);
	}
	100% {
		transform: translate(-100%);
	}
}

.cfu-avisos .cfu-avisos-text p.cfu-partial {
	/*Firefox*/
	-moz-animation-name: partial;
	-moz-animation-duration: 30s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 5s;
	/*Webkit*/
	-webkit-animation-name: partial;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 5s;
	/*Standard*/
	animation-name: partial;
	animation-duration: 30s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-delay: 5s;
}


.cfu-avisos .cfu-avisos-text p.cfu-slide {
	/*Firefox*/
	-moz-animation-name: slide;
	-moz-animation-duration: 45s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	/*-moz-animation-delay: 15s;*/
	/*Webkit*/
	-webkit-animation-name: slide;
	-webkit-animation-duration: 45s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	/*-webkit-animation-delay: 15s;*/
	/*Standard*/
	animation-name: slide;
	animation-duration: 45s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	/*animation-delay: 15s;*/
}

@media only screen and (min-width:768px) {

	.cfu-avisos {
		overflow: hidden;
		min-height: 55px;
		height: auto;
	}

	.cfu-avisos .container, .cfu-avisos .row, .cfu-avisos .col-xs-12 {
		height: 100%;
	}

	.cfu-avisos .cfu-avis {
		position: relative;
		overflow: hidden;
		line-height: 55px;
	}

	.cfu-avisos .cfu-avisos-titol {
		position: relative;
		z-index: 1;
		float: left;
        line-height: 52px;
	}

	.cfu-avisos .cfu-avisos-titol * {
		display: inline-block;
	}

	.cfu-avisos .cfu-avisos-text {
		overflow: hidden;
	}

	.cfu-avisos .cfu-avisos-titol img {
		height: 30px;
        width: auto;
		vertical-align: middle;
        margin-right: 16px;
	}

	.cfu-avisos p {
		font-size: 18px;
		line-height: 55px;
	}

	.cfu-avisos .cfu-avisos-titol p {
		vertical-align: middle;
		padding-right: 12px;
		font-weight: 600;
		letter-spacing: -0.1px;
		/*margin-top: 8px;*/
	}

	.cfu-avisos .cfu-avisos-text p {
		line-height: 55px;
		letter-spacing: -0.1px;
	}

	.cfu-avisos .cfu-avisos-text p.cfu-fixed {
    	position: absolute;
    	white-space: nowrap;
	}


	.cfu-avisos .cfu-icon-dreta-bold {
		position: absolute;
		top: 50%;
		right: 0;
		-ms-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-webkit-transform: translate(0,-50%);
		transform: translate(0,-50%);

		font-size: 18px;

		padding-left: 22px;
	    padding-top: 8px;
	    padding-bottom: 8px;
	    line-height: 55px;
	}

	.cfu-avisos .cfu-icon-baix-light {
		display: none;
	}

	.cfu-avisos .cfu-icon-dreta-bold {
		background-color: white;
	}
	.cfu-avisos.negatiu .cfu-icon-dreta-bold {
		background-color: #4869ad;
	}

	.cfu-avisos .cfu-avisos-text .clon {
		-ms-transform: translate(100%,0);
		-moz-transform: translate(100%,0);
		-webkit-transform: translate(100%,0);
		transform: translate(100%,0);
	}

	.cfu-avisos.cfu-ie9 {
		height: auto;
	}
	.cfu-avisos.cfu-ie9 .cfu-avis {
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		overflow: auto;
		padding: 6px 0;
	}

}

@media only screen and (max-width:767px) {

	.cfu-avisos {
		padding-top: 8px;
		padding-bottom: 10px;
	}

	.cfu-avisos .grid {
		position: relative;
	}

	.cfu-avisos .cfu-avisos-titol {
		margin-bottom: 6px;
	}

	.cfu-avisos .cfu-avisos-titol img {
		margin-right: 8px;
		vertical-align: middle;
		float: left;
		margin-bottom: 4px;
        height: 21px;
        width: auto;
	}

	.cfu-avisos .cfu-avisos-titol p {
		display: block;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        vertical-align: middle;
        position: relative;
        float: left;
        width: calc(100% - 30px);
        margin-bottom: 10px;
	}

	.cfu-avisos .cfu-avisos-text {
		padding-right: 18px;
		transition: all ease .5s;
		height: auto;
		clear: both;
	}

	.cfu-avisos .cfu-avisos-text.cfu-clamp {
		height: 32px !important;
		overflow: hidden;

	}

	.cfu-avisos .cfu-avisos-text p {
		font-size: 14px;
		line-height: 16px;
	}

	.cfu-avisos .cfu-icon-dreta-bold {
		display: none;
	}

	.cfu-avisos .cfu-icon-baix-light {
		position: absolute;
    	right: 10px;
    	bottom: 0px;
    	font-size: 18px;
    	transition: all ease .5s;
	}

	.cfu-avisos .cfu-icon-baix-light.cfu-rotate {
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.cfu-avisos .cfu-icon-baix-light {
		color: black;
	}
	.cfu-avisos.negatiu .cfu-icon-baix-light {
		color: white;
	}
}



