@font-face {
  font-family: 'icoajuntament';
  src:  url('fonts/icoajuntament.eot?83awfq');
  src:  url('fonts/icoajuntament.eot?83awfq#iefix') format('embedded-opentype'),
    url('fonts/icoajuntament.ttf?83awfq') format('truetype'),
    url('fonts/icoajuntament.woff?83awfq') format('woff'),
    url('fonts/icoajuntament.svg?83awfq#icoajuntament') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cfu-icon-"], [class*=" cfu-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoajuntament' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cfu-icon-visites-ajuntament:before {
  content: "\ea0b";
}
.cfu-icon-telefon:before {
  content: "\e9b6";
}
.cfu-icon-ajuntament:before {
  content: "\e900";
}
.cfu-icon-ajuntament-b:before {
  content: "\e986";
}
.cfu-icon-lameva:before {
  content: "\e901";
}
.cfu-icon-meet:before {
  content: "\e902";
}
.cfu-icon-tramits:before {
  content: "\e903";
}
.cfu-icon-tramits-o:before {
  content: "\e904";
}
.cfu-icon-guia:before {
  content: "\e905";
}
.cfu-icon-planol:before {
  content: "\e906";
}
.cfu-icon-seu-electronica:before {
  content: "\e907";
}
.cfu-icon-area-vb:before {
  content: "\e908";
}
.cfu-icon-oficines-atencio-oac:before {
  content: "\e909";
}
.cfu-icon-transparencia:before {
  content: "\e90a";
}
.cfu-icon-hisenda:before {
  content: "\e90d";
}
.cfu-icon-agraiments:before {
  content: "\e90e";
}
.cfu-icon-biblioteca:before {
  content: "\e90f";
}
.cfu-icon-atencio-presencial:before {
  content: "\e91b";
}
.cfu-icon-atencio-linia:before {
  content: "\e916";
}
.cfu-icon-atencio-telefonica:before {
  content: "\e91e";
}
.cfu-icon-apps-cfu:before {
  content: "\e987";
}
.cfu-icon-punts-registre:before {
  content: "\e918";
}
.cfu-icon-registre-telematic:before {
  content: "\e91a";
}
.cfu-icon-oficines-especialitzades:before {
  content: "\e919";
}
.cfu-icon-grups-politics:before {
  content: "\e917";
}
.cfu-icon-govern-obert:before {
  content: "\e930";
}
.cfu-icon-portal-empreses:before {
  content: "\e929";
}
.cfu-icon-portal-ciutadants:before {
  content: "\e928";
}
.cfu-icon-arxiu-municipal:before {
  content: "\e91c";
}
.cfu-icon-plenari:before {
  content: "\e91d";
}
.cfu-icon-blog:before {
  content: "\e91f";
}
.cfu-icon-perfil-contractant:before {
  content: "\e92a";
}
.cfu-icon-carpeta-ciutada:before {
  content: "\e92b";
}
.cfu-icon-carpeta-empreses-entitats:before {
  content: "\e92c";
}
.cfu-icon-carpeta-profesional:before {
  content: "\e92d";
}
.cfu-icon-normativa:before {
  content: "\e92e";
}
.cfu-icon-subvencions:before {
  content: "\e92f";
}
.cfu-icon-dades-obertes:before {
  content: "\e932";
}
.cfu-icon-classificar-ok:before {
  content: "\e931";
}
.cfu-icon-acces-obert:before {
  content: "\e90b";
}
.cfu-icon-altra-informacio:before {
  content: "\e910";
}
.cfu-icon-ordenances-municipals:before {
  content: "\e911";
}
.cfu-icon-carta-serveis:before {
  content: "\e912";
}
.cfu-icon-oferta-publica:before {
  content: "\e913";
}
.cfu-icon-taulell-edictes:before {
  content: "\e914";
}
.cfu-icon-publicacions-oficials:before {
  content: "\e915";
}
.cfu-icon-estadistiques:before {
  content: "\e920";
}
.cfu-icon-premis:before {
  content: "\e921";
}
.cfu-icon-calendari:before {
  content: "\e924";
}
.cfu-icon-queixes-suggeriments:before {
  content: "\e925";
}
.cfu-icon-butlleti:before {
  content: "\e926";
}
.cfu-icon-quioscos:before {
  content: "\e927";
}
.cfu-icon-mes-descarregat:before {
  content: "\e933";
}
.cfu-icon-descarregues:before {
  content: "\e934";
}
.cfu-icon-ultimes-actualitzacions:before {
  content: "\e935";
}
.cfu-icon-ultimes-incorporacions:before {
  content: "\e936";
}
.cfu-icon-preguntes-frequents-o:before {
  content: "\e99c";
}
.cfu-icon-preguntes-frequents:before {
  content: "\e937";
}
.cfu-icon-informacio-consultes-o:before {
  content: "\e99d";
}
.cfu-icon-informacio-consultes:before {
  content: "\e938";
}
.cfu-icon-urbanisme:before {
  content: "\e965";
}
.cfu-icon-informacio-tramits:before {
  content: "\e966";
}
.cfu-icon-manteniment-espai-urba:before {
  content: "\e968";
}
.cfu-icon-serveis-funeraris:before {
  content: "\e967";
}
.cfu-icon-recollida-neteja:before {
  content: "\e95b";
}
.cfu-icon-medi-ambient:before {
  content: "\e955";
}
.cfu-icon-esports:before {
  content: "\e956";
}
.cfu-icon-mobilitat:before {
  content: "\e957";
}
.cfu-icon-urbanisme-obres-habitatge:before {
  content: "\e95c";
}
.cfu-icon-civisme:before {
  content: "\e954";
}
.cfu-icon-prevencio-seguretat:before {
  content: "\e96a";
}
.cfu-icon-compra:before {
  content: "\e95f";
}
.cfu-icon-promocio-economica:before {
  content: "\e923";
}
.cfu-icon-cultura:before {
  content: "\e95e";
}
.cfu-icon-gestions-municipals:before {
  content: "\e958";
}
.cfu-icon-educacio:before {
  content: "\e959";
}
.cfu-icon-salut:before {
  content: "\e960";
}
.cfu-icon-comer:before {
  content: "\e961";
}
.cfu-icon-transports-publics:before {
  content: "\e95a";
}
.cfu-icon-oci:before {
  content: "\e962";
}
.cfu-icon-habitatge:before {
  content: "\e963";
}
.cfu-icon-activitats:before {
  content: "\e9af";
}
.cfu-icon-treball:before {
  content: "\e9b0";
}
.cfu-icon-relacio-ciutada:before {
  content: "\e9b5";
}
.cfu-icon-empresa:before {
  content: "\e9b1";
}
.cfu-icon-deu-barcelones:before {
  content: "\e988";
}
.cfu-icon-visitar-cfu:before {
  content: "\e9a1";
}
.cfu-icon-sectors-negoci:before {
  content: "\e9a7";
}
.cfu-icon-barris:before {
  content: "\e9a0";
}
.cfu-icon-fabriques-creacio:before {
  content: "\e9a3";
}
.cfu-icon-inversio:before {
  content: "\e9b2";
}
.cfu-icon-gastronomia:before {
  content: "\e9a5";
}
.cfu-icon-obres:before {
  content: "\e9b4";
}
.cfu-icon-turisme-sostenible:before {
  content: "\e9a4";
}
.cfu-icon-grans-esdeveniments:before {
  content: "\e9a6";
}
.cfu-icon-estudis:before {
  content: "\e9a2";
}
.cfu-icon-alcalde:before {
  content: "\e99f";
}
.cfu-icon-parcs:before {
  content: "\e9a9";
}
.cfu-icon-padro:before {
  content: "\e9a8";
}
.cfu-icon-estudiants-estrangers:before {
  content: "\e9b3";
}
.cfu-icon-participacio:before {
  content: "\e9aa";
}
.cfu-icon-families:before {
  content: "\e99e";
}
.cfu-icon-recerca-innovacio:before {
  content: "\e9ac";
}
.cfu-icon-projectes-estrategics:before {
  content: "\e9ab";
}
.cfu-icon-nadal:before {
  content: "\e964";
}
.cfu-icon-whatsapp:before {
  content: "\e94d";
}
.cfu-icon-twitter:before {
  content: "\e94c";
}
.cfu-icon-x:before {
  content: "\ea15";
}
.cfu-icon-linkedin:before {
  content: "\e94e";
}
.cfu-icon-facebook:before {
  content: "\e946";
}
.cfu-icon-instagram:before {
  content: "\e948";
}
.cfu-icon-youtube:before {
  content: "\e947";
}
.cfu-icon-flickr:before {
  content: "\e949";
}
.cfu-icon-periscope:before {
  content: "\e94a";
}
.cfu-icon-xarxes-socials:before {
  content: "\e952";
}
.cfu-icon-comparteix:before {
  content: "\e950";
}
.cfu-icon-telegram:before {
  content: "\e945";
}
.cfu-icon-tumblr:before {
  content: "\e94b";
}
.cfu-icon-web:before {
  content: "\e953";
}
.cfu-icon-rss:before {
  content: "\e94f";
}
.cfu-icon-cerca:before {
  content: "\e939";
}
.cfu-icon-menu-drecera:before {
  content: "\e9ae";
}
.cfu-icon-idioma:before {
  content: "\e93a";
}
.cfu-icon-satelit:before {
  content: "\e93f";
}
.cfu-icon-punt-mapa:before {
  content: "\e940";
}
.cfu-icon-bruixola:before {
  content: "\e922";
}
.cfu-icon-descarrega:before {
  content: "\e9ad";
}
.cfu-icon-accessibilitat:before {
  content: "\e90c";
}
.cfu-icon-ubicacio:before {
  content: "\e941";
}
.cfu-icon-contrast:before {
  content: "\e95d";
}
.cfu-icon-finestra-nova:before {
  content: "\e93d";
}
.cfu-icon-favorits:before {
  content: "\e93c";
}
.cfu-icon-etiqueta:before {
  content: "\e93b";
}
.cfu-icon-correu-email:before {
  content: "\e951";
}
.cfu-icon-adjunt:before {
  content: "\e942";
}
.cfu-icon-opcions:before {
  content: "\e93e";
}
.cfu-icon-arxiu-pdf:before {
  content: "\e944";
}
.cfu-icon-arxiu:before {
  content: "\e943";
}
.cfu-icon-llenguatge:before {
  content: "\e96e";
}
.cfu-icon-titols:before {
  content: "\e96f";
}
.cfu-icon-audiovisuals:before {
  content: "\e96c";
}
.cfu-icon-reproductor-audiovisual:before {
  content: "\e96b";
}
.cfu-icon-distraccions:before {
  content: "\e970";
}
.cfu-icon-salt-contingut:before {
  content: "\e971";
}
.cfu-icon-multinavegador:before {
  content: "\e972";
}
.cfu-icon-idioma-accessibilitat:before {
  content: "\e973";
}
.cfu-icon-navegacio-coherent:before {
  content: "\e974";
}
.cfu-icon-imatge:before {
  content: "\e975";
}
.cfu-icon-formularis:before {
  content: "\e976";
}
.cfu-icon-estructura-encap:before {
  content: "\e977";
}
.cfu-icon-tamany-text:before {
  content: "\e978";
}
.cfu-icon-expandir-baix-dreta:before {
  content: "\e991";
}
.cfu-icon-expandir-baix-esquerra:before {
  content: "\e992";
}
.cfu-icon-expandir-dalt-dreta:before {
  content: "\e993";
}
.cfu-icon-expandir-dalt-esquerra:before {
  content: "\e994";
}
.cfu-icon-minimitzar:before {
  content: "\e995";
}
.cfu-icon-dreta-bold:before {
  content: "\e998";
}
.cfu-icon-dreta-medium:before {
  content: "\e999";
}
.cfu-icon-dreta-light:before {
  content: "\e99a";
}
.cfu-icon-esquerra-bold:before {
  content: "\e99b";
}
.cfu-icon-esquerra-medium:before {
  content: "\e9b7";
}
.cfu-icon-esquerra-light:before {
  content: "\e9b8";
}
.cfu-icon-baix-bold:before {
  content: "\e9b9";
}
.cfu-icon-baix-medium:before {
  content: "\e9ba";
}
.cfu-icon-baix-light:before {
  content: "\e9bb";
}
.cfu-icon-dalt-bold:before {
  content: "\e9bc";
}
.cfu-icon-dalt-medium:before {
  content: "\e9bd";
}
.cfu-icon-dalt-light:before {
  content: "\e9be";
}
.cfu-icon-mes-cercle:before {
  content: "\e9bf";
}
.cfu-icon-mes-cercle-o:before {
  content: "\e9c0";
}
.cfu-icon-mes-bold:before {
  content: "\e9c1";
}
.cfu-icon-mes-medium:before {
  content: "\e9c2";
}
.cfu-icon-mes-light:before {
  content: "\e9c3";
}
.cfu-icon-menys-bold:before {
  content: "\e9c4";
}
.cfu-icon-menys-medium:before {
  content: "\e9c5";
}
.cfu-icon-menys-light:before {
  content: "\e9c6";
}
.cfu-icon-ok-bold:before {
  content: "\e9c7";
}
.cfu-icon-ok-medium:before {
  content: "\e9c8";
}
.cfu-icon-ok-light:before {
  content: "\e9c9";
}
.cfu-icon-tancar-bold:before {
  content: "\e9ca";
}
.cfu-icon-tancar-medium:before {
  content: "\e9cb";
}
.cfu-icon-tancar-light:before {
  content: "\e9cc";
}
.cfu-icon-maximitzar:before {
  content: "\e996";
}
.cfu-icon-casa:before {
  content: "\e979";
}
.cfu-icon-menu:before {
  content: "\e997";
}
.cfu-icon-ultim-dreta-bold:before {
  content: "\e97a";
}
.cfu-icon-ultim-dreta-medium:before {
  content: "\e97b";
}
.cfu-icon-primer-esquerra-bold:before {
  content: "\e97c";
}
.cfu-icon-primer-esquerra-medium:before {
  content: "\e97d";
}
.cfu-icon-amplia:before {
  content: "\e97e";
}
.cfu-icon-redueix:before {
  content: "\e97f";
}
.cfu-icon-reprodueix:before {
  content: "\e980";
}
.cfu-icon-pause:before {
  content: "\e981";
}
.cfu-icon-isuu:before {
  content: "\e982";
}
.cfu-icon-taules-llistes:before {
  content: "\e983";
}
.cfu-icon-bustia-etica:before {
  content: "\e984";
}
.cfu-icon-imprimir:before {
  content: "\e985";
}
.cfu-icon-ordenances-fiscals:before {
  content: "\e989";
}
.cfu-icon-serveis-socials:before {
  content: "\e98a";
}
.cfu-icon-bombers:before {
  content: "\e98b";
}
.cfu-icon-telefons-emergencies:before {
  content: "\e98c";
}
.cfu-icon-mobil:before {
  content: "\e98d";
}
.cfu-icon-infancia:before {
  content: "\e98e";
}
.cfu-icon-gent-gran:before {
  content: "\e98f";
}
.cfu-icon-dependencia:before {
  content: "\e990";
}
.cfu-icon-convivencia:before {
  content: "\e9cd";
}
.cfu-icon-dona:before {
  content: "\e9ce";
}
.cfu-icon-discapacitat:before {
  content: "\e9cf";
}
.cfu-icon-joventut:before {
  content: "\e9d0";
}
.cfu-icon-vulnerable:before {
  content: "\e9d1";
}
.cfu-icon-agenda:before {
  content: "\e9d2";
}
.cfu-icon-eficiencia-energetica:before {
  content: "\e9d3";
}
.cfu-icon-consumidor:before {
  content: "\e9d4";
}
.cfu-icon-enllacos:before {
  content: "\e9d5";
}
.cfu-icon-noticies:before {
  content: "\e9d6";
}
.cfu-icon-llista:before {
  content: "\e9d7";
}
.cfu-icon-info-actualitzada:before {
  content: "\e9d8";
}
.cfu-icon-marc-legal:before {
  content: "\e9d9";
}
.cfu-icon-proteccio-dades:before {
  content: "\e9da";
}
.cfu-icon-galetes:before {
  content: "\e9e5";
}
.cfu-icon-difondre:before {
  content: "\e9e6";
}
.cfu-icon-copyright:before {
  content: "\e9db";
}
.cfu-icon-comshiva:before {
  content: "\e9dc";
}
.cfu-icon-pressupost:before {
  content: "\e9dd";
}
.cfu-icon-arxiu-audio:before {
  content: "\e9de";
}
.cfu-icon-dossier:before {
  content: "\e9df";
}
.cfu-icon-microfon:before {
  content: "\e9e0";
}
.cfu-icon-retransmissio:before {
  content: "\e9e1";
}
.cfu-icon-informacio:before {
  content: "\e9e2";
}
.cfu-icon-feminismes:before {
  content: "\e9e3";
}
.cfu-icon-diversitat:before {
  content: "\e9e4";
}
.cfu-icon-territori:before {
  content: "\e9e7";
}
.cfu-icon-vimeo:before {
  content: "\e9e8";
}
.cfu-icon-administracio:before {
  content: "\e9e9";
}
.cfu-icon-allotjament:before {
  content: "\e9ea";
}
.cfu-icon-animals:before {
  content: "\e9eb";
}
.cfu-icon-associacions:before {
  content: "\e9ec";
}
.cfu-icon-companyies_serveis:before {
  content: "\e9ed";
}
.cfu-icon-religio:before {
  content: "\e9ee";
}
.cfu-icon-imatge-text:before {
  content: "\e969";
}
.cfu-icon-cerca-arbre-jerarquic:before {
  content: "\e96d";
}
.cfu-icon-cerca-dependencia:before {
  content: "\e9ef";
}
.cfu-icon-cerca-persona:before {
  content: "\e9f0";
}
.cfu-icon-a-peu:before {
  content: "\e9f1";
}
.cfu-icon-bicicleta:before {
  content: "\e9f2";
}
.cfu-icon-cotxe:before {
  content: "\e9f3";
}
.cfu-icon-mercaderies:before {
  content: "\e9f4";
}
.cfu-icon-metro:before {
  content: "\e9f5";
}
.cfu-icon-moto:before {
  content: "\e9f6";
}
.cfu-icon-targetes-transport:before {
  content: "\e9f7";
}
.cfu-icon-proces-tramit:before {
  content: "\e9f8";
}
.cfu-icon-filtres:before {
  content: "\e9f9";
}
.cfu-icon-espai-personal:before {
  content: "\e9fa";
}
.cfu-icon-dades-personals-fiscals:before {
  content: "\e9fb";
}
.cfu-icon-multes:before {
  content: "\e9fc";
}
.cfu-icon-casaments:before {
  content: "\e9fd";
}
.cfu-icon-esquerra-bold2:before {
  content: "\e9fe";
}
.cfu-icon-dreta-bold2:before {
  content: "\e9ff";
}
.cfu-icon-rellotge:before {
  content: "\ea00";
}
.cfu-icon-rellotge-bold:before {
  content: "\ea01";
}
.cfu-icon-favorits-light:before {
  content: "\ea02";
}
.cfu-icon-mapa:before {
  content: "\ea03";
}
.cfu-icon-platja:before {
  content: "\ea04";
}
.cfu-icon-multidispositiu:before {
  content: "\ea05";
}
.cfu-icon-controls:before {
  content: "\ea06";
}
.cfu-icon-teclat:before {
  content: "\ea07";
}
.cfu-icon-codi:before {
  content: "\ea08";
}
.cfu-icon-tancasessio:before {
  content: "\ea09";
}
.cfu-icon-videotrucada:before {
  content: "\ea0a";
}
.cfu-icon-reserves:before {
  content: "\ea0c";
}
.cfu-icon-alerta:before {
  content: "\ea0d";
}
.cfu-icon-campana:before {
  content: "\ea0e";
}
.cfu-icon-cor:before {
  content: "\ea0f";
}
.cfu-icon-identificacio:before {
  content: "\ea10";
}
.cfu-icon-tiktok:before {
  content: "\ea11";
}
.cfu-icon-mastodon:before {
  content: "\ea12";
}
.cfu-icon-regla:before {
  content: "\ea13";
}
.cfu-icon-clau:before {
  content: "\ea14";
}
